<link rel="stylesheet" href="/css/user_profile.css">

<!-- dont need html tags and all as layout handles all of that -->
<h1>
    Codeial / Profile Page
</h1>
   
<!-- user.id used for string matching -->
<% if(user.id == profile_user.id){ %> 
    <!-- if user matches i.e. the user is viewing his owm profile,then show the update form -->
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <!-- Sending the value="<%= profile_user.name %>" because we want to edit that -->
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">;
    </form>
<%}else{%>
    <!-- else only the profile info -->
    <p> <%= profile_user.name %></p>
    <p> <%= profile_user.email %></p>
<%}%>